*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

.film {
  width: 80%;
  margin: 50px auto;
}

article.film {
    border: 1px solid #eee;
    padding: 20px;
}

.film-poster {
  width: 30%;
}

.film-poster img {
  max-width: 100%;
}

.action-watch-later {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 12px;
    color: red;
}

figure.film-poster {
    position: relative;
    display: inline-block;
}

.film-details {
    width: 68%;
    display: inline-block;
    position: relative;
    padding: 0 20px 0 40px;
    vertical-align:top;
}

.action-like {
    color: red;
    float: right;
    position: relative;
    right: 10px;
    bottom: 20px;
}

.film-description {
  font-size: 1.3em;
}
